html {
  // reset for 10px base font size
  font-size: $base-font-size+%;
}

// Header font styles
.c-header {
  // 14px base font size
  font-size: font-to-rem($base-header-font-size, $base-font-size);
}

.c-user-info__name {
  font-size: font-to-em($base-header__user-info-name-font-size, $base-header-font-size); // 14px
}

.c-user-info__avatar {
  font-size: font-to-em($base-header__user-info-avatar-font-size, $base-header-font-size); // 20px
}

// Sidebar font styles
.c-sidebar {
  font-size: font-to-rem($base-sidebar-font-size, $base-font-size); //14px
}

.c-sidebar__title {
  font-size: font-to-em($base-sidebar__title-font-size, $base-sidebar-font-size); //28px
}

// Content font styles
.c-content {
  font-size: font-to-rem($base-content-font-size, $base-font-size); //16px
}
