.o-filter {
  width: 100%;
  height: relative-size(150, $base-sidebar-font-size);
  margin-bottom: relative-size(50, $base-sidebar-font-size);
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
