.c-header {
  box-sizing: border-box;
  height: relative-size(80, $base-header-font-size);
  border-bottom: relative-size(1, $base-header-font-size) solid black;
  @include box-shadow(0,
                      relative-size(6, $base-header-font-size),
                      relative-size(19, $base-header-font-size),
                      relative-size(-9, $base-header-font-size), black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo {
  margin-left: relative-size(15, $base-header-font-size);
}

.c-user-info {
  margin-right: relative-size(15, $base-header-font-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-user-info__avatar {
  margin-left: relative-size(10, $base-header__user-info-avatar-font-size);
}
