.c-sidebar {
  padding: relative-size(25, $base-sidebar-font-size) relative-size(15, $base-sidebar-font-size) 0;
  border-right: relative-size(1, $base-sidebar-font-size) solid black;
}

.c-sidebar__title {
  padding-bottom: relative-size(5, $base-sidebar__title-font-size);
  margin-bottom: relative-size(25, $base-sidebar__title-font-size);
  border-bottom: relative-size(1, $base-sidebar__title-font-size) solid gray;
}
