// Return rem font size of component based on desired size & base size
@function font-to-rem($desired-size, $default-base-font-size) {
  @return ($desired-size / (($default-base-font-size*16)/100))+rem;
}

// Return rem font size of component based on desired size & base size
@function relative-element-size($desired-size, $default-base-rem-font-size) {
  @return ($desired-size / $default-base-rem-font-size);
}

@function font-to-em($desired-size, $default-base-rem-font-size) {
  @return relative-element-size($desired-size, $default-base-rem-font-size)+em;
}

// Return relative font-size by dividing desired size in px to base size of
// parent
@function relative-size($desired-size, $relative-to-size) {
  @return ($desired-size / $relative-to-size)+em;
}
