// Font sizes
// Set default font size in % for project. Browsers Default is 16px => 10px is 62.5%
$base-font-size: 62.5; //(this is in %)

// Header font sizes
// 14px base font size for Header component
$base-header-font-size: 14;
$base-header__user-info-name-font-size: 14;
$base-header__user-info-avatar-font-size: 20;

// Sidebar font sizes
// 14px base font size for Sidebar component
$base-sidebar-font-size: 14;
$base-sidebar__title-font-size: 28;

// Conent font sizes
// 16px base font size for Content component
$base-content-font-size: 16;
